.form-control {
  margin: 10px;
}

mat-card {
  margin-top: 20px;
}

.full-width-field {
  width: 100%;
}

.flex-container {
  display: flex;
  gap: 10px;
}

mat-hint {
  color: red;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
